工作文档/健康通平台/源码/JLHIS/WebManager12320/HealthCardProxyService/Connected Services/MyServiceProxy/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HealthCardWcfService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HealthCardWcfService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HealthCardWcfService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="inParam" nillable="true" type="q3:Platform_StopReg_InParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopRegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="StopRegResult" nillable="true" type="q4:Platform_StopReg_OutParamInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRegByHis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="inParam" nillable="true" type="q5:Platform_CancelRegByHIS_InParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRegByHisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="CancelRegByHisResult" nillable="true" type="q6:Platform_CancelRegByHIS_OutParamInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundByHis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="inParam" nillable="true" type="q7:Platform_RefundByHIS_InParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundByHisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="RefundByHisResult" nillable="true" type="q8:Platform_RefundByHIS_OutParamInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintRegByHis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="inParam" nillable="true" type="q9:Platform_PrintRegByHIS_InParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintRegByHisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="PrintRegByHisResult" nillable="true" type="q10:Platform_PrintRegByHIS_OutParamInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayRegByHis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="inParam" nillable="true" type="q11:Platform_PayRegByHIS_InParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayRegByHisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="PayRegByHisResult" nillable="true" type="q12:Platform_PayRegByHIS_OutParamInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRegRefund">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="inParam" nillable="true" type="q13:Platform_QueryRegRefund_InParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRegRefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="QueryRegRefundResult" nillable="true" type="q14:Platform_QueryRegRefund_OutParamInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundPay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="inParam" nillable="true" type="q15:Platform_RefundPay_InParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundPayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="RefundPayResult" nillable="true" type="q16:Platform_RefundPay_OutParamInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPayRefund">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="inParam" nillable="true" type="q17:Platform_QueryPayRefund_InParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPayRefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="QueryPayRefundResult" nillable="true" type="q18:Platform_QueryPayRefund_OutParamInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="inParam" nillable="true" type="q19:Platform_PushInfo_InParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HisCommon.DataEntity" minOccurs="0" name="PushInfoResult" nillable="true" type="q20:Platform_PushInfo_OutParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>