工作文档/健康通平台/WindowsForms测试/WindowsForms测试/Service References/ServiceReference1/APIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Cloud.Xt.Soa.Hlht" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Cloud.Xt.Soa.Hlht" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Cloud.Xt.Soa.Hlht">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PubService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PubServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PubServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="PubServiceSoapIn">
    <wsdl:part name="parameters" element="tns:PubService" />
  </wsdl:message>
  <wsdl:message name="PubServiceSoapOut">
    <wsdl:part name="parameters" element="tns:PubServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="APIServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PubService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提供给健康通用平台调用服务，通过内部功能号进行区分业务</wsdl:documentation>
      <wsdl:input message="tns:PubServiceSoapIn" />
      <wsdl:output message="tns:PubServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APIServiceSoap" type="tns:APIServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="Cloud.Xt.Soa.Hlht/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PubService">
      <soap:operation soapAction="Cloud.Xt.Soa.Hlht/PubService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIServiceSoap12" type="tns:APIServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="Cloud.Xt.Soa.Hlht/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PubService">
      <soap12:operation soapAction="Cloud.Xt.Soa.Hlht/PubService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIService">
    <wsdl:port name="APIServiceSoap" binding="tns:APIServiceSoap">
      <soap:address location="http://localhost:8055/APIService.asmx" />
    </wsdl:port>
    <wsdl:port name="APIServiceSoap12" binding="tns:APIServiceSoap12">
      <soap12:address location="http://localhost:8055/APIService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>